* {
    font-family: "Times New Roman", Times, serif !important;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #000000 30%, #420008 100%);
    border: 15px solid #000;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.eye {
    cursor: help;
    position: absolute;
    width: 303px; 
    height: 303px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('texture/eye_close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 1s ease;
}